{% extends "JardinDemeterDemeterBundle::main.html.twig" %}
{%block content%}

<div class="blankSeparator"></div>
 <div class="container">
  <h2>Chantiers ext&eacute;rieurs</h2>
  <p>
   Les chantiers ext&eacute;rieurs ont commenc&eacute; suite &agrave; la volont&eacute; de la mise en place
   d'un sas &eacute;volutif pour le personnel proche de l'emploi.<br />
   Des structures partenaires ont &eacute;t&eacute; sollicit&eacute;es pour nous permettre de mettre en place
   des terrains d'application &agrave; l'ext&eacute;rieur de nos sites.<br />
   La volont&eacute; de la structure n'est pas d'int&eacute;grer d'entr&eacute;e dans le secteur marchand,
   aussi nous faisons un partenariat avec les collectivit&eacute;s locales et les structures priv&eacute;es comme VEOLIA.
  </p>
  <h2>Carte d'identit&eacute; des Chantiers ext&eacute;rieurs&nbsp;:</h2>
  <p>
   &bull; un <span style="color:red">encadrant technique</span><br />
   &bull; un <span style="color:red">aide encadrant</span><br />
   &bull; quatre <span style="color:red">salari&eacute;s en contrat aid&eacute;</span> dont deux au minimum titulaires du permis
    de conduire disposant d'un v&eacute;hicule de service pour intervenir sur les sites ext&eacute;rieurs, salari&eacute;s fonctionnant
    par groupe de deux, associ&eacute;s &agrave; l'encadrant technique ou &agrave; l'aide encadrant.
   </p> 
   <div class="sepContainer"></div>
 </div>
 
 <div class="container portfolio4columns">

  <ul class="tabs">
    <li><a class="active" href="#bords">Bords de Seine<span class="plus1">+</span></a></li>
    <li><a href="#camping">Camping de Samois sur Seine<span class="plus1">+</span></a></li>
    <li><a href="#nautique">Club Nautique de Vulaines<span class="plus1">+</span></a></li>
    <li><a href="#skate">Skate Park<span class="plus1">+</span></a></li>
  </ul>
  
  <ul class="tabs-content clearfix">
  
   <li class="active clearfix" id="bords">
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/bords/bordsseine01.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/bords/bordsseineM01.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="clear"></div>
   </li>
    
   <li id="camping" class="clearfix">    
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/camping/camping01.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/camping/campingM01.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/camping/camping02.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/camping/campingM02.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/camping/camping03.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/camping/campingM03.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/camping/camping04.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/camping/campingM04.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/camping/camping05.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/camping/campingM05.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/camping/camping06.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/camping/campingM06.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/camping/camping07.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/camping/campingM07.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/camping/camping08.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/camping/campingM08.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/camping/camping09.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/camping/campingM09.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/camping/camping10.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/camping/campingM10.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/camping/camping11.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/camping/campingM11.jpg')}}" alt=""/></a>
     </section>
    </div>
   </li>
   
   <li id="nautique" class="clearfix">
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/club/nautique01.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/club/nautiqueM01.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/club/nautique02.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/club/nautiqueM02.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/club/nautique03.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/club/nautiqueM03.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="clear"></div>
   </li>

   <li id="skate" class="clearfix">
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/skate/skate01.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/skate/skateM01.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/skate/skate02.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/skate/skateM02.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/skate/skate03.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/skate/skateM03.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="clear"></div>
   </li>
   
  </ul>
</div>
<div class="blankSeparator1"></div>

{%endblock%}

