{% extends "JardinDemeterDemeterBundle::main.html.twig" %}
{%block content%}

<div class="blankSeparator"></div>
<div class="container portfolio">
 <div class="two_third">
  <h2>Site de la Touffe &agrave; Vulaines-sur-Seine</h2>
  <p>
   D&egrave;s la fin 2004, pour mieux r&eacute;pondre aux besoins de formations de nos
   salari&eacute;s et permettre la mise &agrave; disposition, pour nos adh&eacute;rents
   d'une plus grande vari&eacute;t&eacute; de l&eacute;gumes et fleurs :
  </p>
  <p>
   &bull; Passage de 10 &agrave; 14 salari&eacute;s<br />
   &bull; Mise en place d'un jardin potager et floral de 5000m&sup2; situ&eacute; sur le territoire
   de la commune de Vulaines-sur-Seine et mis &agrave; disposition gracieusement par la Communaut&eacute;
   de Communes "Entre Seine et For&egrave;t"<br />
   &bull; En 2007 des travaux sont mis en oeuvre afin que les salari&eacute;s trouvent de meilleures
   conditions de travail : => Transfert des installations de la P&eacute;pini&egrave;re (Mobil'Home et sanitaires)<br />
   &bull; Mise en place au 2&egrave;me semestre 2007 d'un chalet en bois qui accueille les bureaux ainsi
   qu'une salle de r&eacute;union<br />
   &bull; R&eacute;habilitation d'un lieu de vie afin d'am&eacute;liorer le cadre de travail des salari&eacute;<br />
   &bull; Mise en place du service administratif et d&eacute;placement du si&egrave;ge social
  </p>
 </div>  
 <div class="one_third lastcolumn"> 
  <h2>Carte d'Identit&eacute du site de la Touffe</h2>
  <p>
   D&egrave;s la fin 2004, pour mieux r&eacute;pondre aux besoins de formations de nos
   salari&eacute;s et permettre la mise &agrave; disposition, pour nos adh&eacute;rents
   d'une plus grande vari&eacute;t&eacute; de l&eacute;gumes et fleurs :
  </p>
  <p>
   &bull; un <span style="color:red">encadrant technique</span><br />
   &bull; un <span style="color:red">aide encadrant</span><br />
   &bull; 13 <span style="color:red">salari&eacute;s</span> en contrat aid&eacute; dont 25% de femmes      
  </p>
  <p class="portfolio">Travaux r&eacute;alis&eacute;s sur le site</p>
  <p>
   &bull; Construction d'un vestiaire et d'un bureau pour l'encadrant technique<br />
   &bull; R&eacute;fection des sanitaires hommes => r&eacute;habilitation du lieu de vie
   des salari&eacute;s avec la mise en place d'un chauffage au bois<br />
   &bull; Am&eacute;nagement d'un local d&eacute;di&eacute; &agrave; l'entretien par l'adjonction
   de machine &agrave; laver et de s&eacute;che-linge (utilisation en d&eacute;pannage pour les salari&eacute;s)<br />
   &bull; Exploitation mara&icirc;ch&egrave;re tourn&eacute;e sur la culture des l&eacute;gumes avec plan de culture<br />
   &bull; Projection 2011 : construction d'un local de stockage du mat&eacute;riel<br />
   &bull; Cr&eacute;ation d'une voli&egrave;re<br />
   &bull; D&eacute;m&eacute;nagement du local pour le petit mat&eacute;riel<br />
   &bull; Construction d'un chalet en bois pour la salle de r&eacute;union et les bureaux
  </p> 
 </div>
</div>

<div class="sepContainer"></div>

<div class="container portfolio4columns">

 <ul class="tabs">
  <li><a class="active" href="#touffe">Site de la Touffe<span class="plus1">+</span></a></li>
  <li><a href="#bassecour">Basse-cour<span class="plus1">+</span></a></li>
 </ul> 
  
 <ul class="tabs-content clearfix">
  
   <li class="active clearfix" id="touffe">
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/touffe/touffe01.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/touffe/touffeM01.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/touffe/touffe02.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/touffe/touffeM02.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/touffe/touffe03.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/touffe/touffeM03.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/camping/camping04.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/camping/campingM04.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/touffe/touffe05.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/touffe/touffeM05.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/touffe/touffe06.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/touffe/touffeM06.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/touffe/touffe07.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/touffe/touffeM07.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/touffe/touffe08.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/touffe/touffeM08.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/touffe/touffe09.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/touffe/touffeM09.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/touffe/touffe10.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/touffe/touffeM10.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/touffe/touffe11.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/touffe/touffeM11.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="./images/insertion/touffe/touffe12.jpg')}}" class="prettyPhoto[gal]">
       <img src="./images/insertion/touffe/touffeM12.jpg')}}" alt=""/></a>
     </section>
    </div>
   </li>

   <li class="active clearfix" id="bassecour">
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/touffe/bassecour01.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/touffe/bassecourM01.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/touffe/bassecour02.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/touffe/bassecourM02.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/touffe/bassecour03.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/touffe/bassecourM03.jpg')}}" alt=""/></a>
     </section>
    </div>
    <div class="one_fourth">
     <section class="boxfour">
      <a href="{{asset('./images/insertion/camping/bassecour04.jpg')}}" class="prettyPhoto[gal]">
       <img src="{{asset('./images/insertion/camping/bassecourM04.jpg')}}" alt=""/></a>
     </section>
    </div>
   </li>
    
  </ul>
</div>
<div class="blankSeparator1"></div>

{%endblock%}